<section class="bg-[#4B4B4B] text-white" aria-labelledby="experiences">
  <div class="flex flex-col items-center justify-center p-6 sm:p-10">
    <h2 class="text-3xl sm:text-4xl md:text-5xl font-bold text-center" id="experiences">My Experiences</h2>
  </div>

  <img src="/assets/code.svg" alt="imagem de código" class="w-full object-cover" loading="lazy">

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 px-4 sm:px-10 py-8 items-center">
    <div class="flex flex-col items-center justify-center p-4 order-2 md:order-1">
      <h2 class="text-xl sm:text-2xl md:text-3xl font-semibold mb-4">Anotaísso</h2>
      <p class="text-center text-base sm:text-lg">
        This inventory replenishment system was developed to be an intuitive and effective solution for snack bars, allowing them to place orders directly with the restaurant in an agile, automated and hassle-free manner. Based on web technologies such as HTML, CSS and JavaScript, the system offers a simple and responsive interface, allowing inventory management from anywhere and at any time.
      </p>
    </div>
    <img src="/assets/anotaisso.svg" alt="Tela do sistema Anotaísso" class="w-full object-contain order-1 md:order-2" loading="lazy">
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 px-4 sm:px-10 py-8 items-center">
    <img src="/assets/ksa.svg" alt="KSA" class="w-full object-contain" loading="lazy">
    <div class="flex flex-col items-center justify-center p-4">
      <h2 class="text-xl sm:text-2xl md:text-3xl font-semibold mb-4">KSA (Klick System Academic) 2024.2</h2>
      <p class="text-center text-base sm:text-lg">
        The KSA academic platform aims to optimize educational management by facilitating interaction between students, teachers, and administrators. This project proposes the use of the MERN Stack (MongoDB, Express.js, React, Node.js) for web development and React Native for the mobile application. The choice of the MERN Stack ensures a scalable and efficient platform, using JavaScript on both the frontend and backend, which speeds up development and integration between the parties.
      </p>
    </div>
  </div>
</section>
